##
# @package      Fiji MVC Framework
# @copyright    Copyright (C) 2013 - 2020 Fiji Web Design
# @license      GNU General Public License version 2 or later; see LICENSE.txt
##

##
# READ THIS COMPLETELY IF YOU CHOOSE TO USE THIS FILE!
#
# The line just below this section: 'Options +FollowSymLinks' may cause problems
# with some server configurations.  It is required for use of mod_rewrite, but may already
# be set by your server administrator in a way that dissallows changing it in
# your .htaccess file.  If using it causes your server to error out, comment it out (add # to
# beginning of line), reload your site in your browser and test your sef url's.  If they work,
# it has been set by your server administrator and you do not need it set here.
##

## Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

## use Apache module mod_rewrite

RewriteEngine On

# If the request is not for index.php
RewriteCond %{REQUEST_URI} !^index\.php
# and the requested path and file doesn't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f
# and the requested path and file doesn't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?rewriteQuery=$1 [QSA,L]

## @todo We need to make sure 404s don't go to PHP as it will load the default app page.
## Instead we must load a 404 for all unrouted requests